@charset "utf-8";

#tdm {display:none;}
.adsense-in-article {display:none;}
.adsense-local {display:none;}
#hamburger {display:none;}
#footer {display:none;}
#search {display:none;}
#privacy {display:none;}
